<div class="section-header">
  <h4>Details</h4>
  <button (click)="addDetail()" class="add-link-button" type="button">+ Add Detail</button>
</div>

@if (formArray.controls.length) {
  <div class="section">
    @for (group of formArray.controls; let i = $index; track i) {
      <div [formGroup]="getFormGroup(group)" class="form-grid">
        <div class="form-row">
          <label>Name</label>
          <input formControlName="key" placeholder="Name"/>
        </div>

        <div class="form-row">
          <label>Value</label>
          <input formControlName="value" placeholder="Value"/>
        </div>
      </div>

      <div class="remove-link-wrap">
        <button (click)="formArray.removeAt(i)" class="remove-link-btn" type="button">
          remove
        </button>
      </div>
    }
  </div>
} @else {
  <div class="empty-placeholder" (click)="addDetail()">
    <span class="icon">📦</span>
    <p>Add additional product characteristics like weight, ingredients, origin, etc.</p>
  </div>
}
