<div #scrollContainer (scroll)="onScrollChanged()" class="table-scroll-wrapper">
  <table class="grid-table">
    <thead>
    <tr>
      @for (s of settings(); track s.bindProperty) {
        <th class="th1" [ngStyle]="s.styles" [ngClass]="{'cur-pointer': s.sortable}"
            (click)="s.sortable && onSortChange(s.bindProperty)">
          {{ s.label }}
          @if (s.sortable && sortColumn === s.bindProperty && sortDirection()) {
            <span>{{ sortDirection() === 'asc' ? '▲' : '▼' }}</span>
          }
        </th>
      }
      <th class="th1">Actions</th>
    </tr>
      @if (filterable()) {
        <tr [formGroup]="form" class="filters-row">
          @for (s of settings(); track s.bindProperty) {
            <th class="th2" [ngStyle]="s.styles">
              @if (s.filterable) {
                @switch (s.filterType) {
                  @case ('date') {
                    <app-datepicker [styles]="{ 'padding': '4px 6px', 'font-size': '0.85rem'}"
                                    [formControlName]="s.bindProperty"
                                    [isRange]="true"></app-datepicker>
                  }
                  @case ('text') {
                    <input [formControlName]="s.bindProperty" type="text"/>
                  }
                  @case ('number') {
                    <input [formControlName]="s.bindProperty" type="number"/>
                  }
                  @case ('select') {
                    <div class="filter-select-wrapper">
                      <app-select bindValue="value" [formControlName]="s.bindProperty"
                                  [items]="s.filterOptions || []"></app-select>
                    </div>
                  }
                  @case ('groupedSelect') {
                    <app-select bindValue="value" [styles]="{ 'width': '240px' }" groupBy="group"
                                [formControlName]="s.bindProperty"
                                [items]="s.filterOptions || []"></app-select>
                  }
                }
              }
            </th>
          }

          <th class="th2">
            <lucide-icon (click)="onResetFilters()" appTooltip="Reset filters" class="cur-pointer"
                         name="brushCleaning"></lucide-icon>
          </th>
        </tr>
      }
    </thead>
    <tbody>
      @if (items().length > 0) {
        @for (item of items(); track item.id) {
          <tr>
            @for (s of settings(); track s.bindProperty) {
              <td [ngClass]="s.cellClass && s.cellClass(item)" [ngStyle]="s.styles"
                  [appTooltip]="item[s.bindProperty]">{{ s.formatter ? s.formatter(item) : item[s.bindProperty] }}
              </td>
            }
            <td class="action-items">
              @if (actions().includes('edit')) {
                <lucide-icon title="edit" (click)="actionClick.emit({ action: 'edit', item })" class="edit"
                             name="edit"></lucide-icon>
              }

              @if (actions().includes('delete')) {
                <lucide-icon title="delete" (click)="actionClick.emit({ action: 'delete', item })" class="edit"
                             name="OctagonX"></lucide-icon>
              }
            </td>
          </tr>
        }
      } @else {
        <tr>{{ emptyText() }}</tr>
      }
    </tbody>
  </table>
</div>
