<div class="product-row">
  @if (product().mainImage) {
    <img
      [src]="product().mainImage"
      alt="Product"
      class="product-image"
    />
  }
  <div class="info">
    <div class="name">{{ product().name }}</div>
    <div class="sku">SKU: {{ product().sku }}</div>
    <div class="category">Category: {{ product().categoryId | getById: categories() }}
    </div>
  </div>
  @if (product().isPopular) {
    <span class="badge popular">Popular</span>
  }
  @if (product().isActive) {
    <span class="badge active">Active</span>
  } @else {
    <span class="badge inactive">Inactive</span>
  }

  <div class="price">{{ product().price.amount }} {{ product().price.currency }}</div>
  <div class="stock">{{ product().stock }} in stock</div>
  <div class="badges">
  </div>
  <lucide-icon (click)="onEdit()" class="edit" name="edit"></lucide-icon>
</div>

@if (isDialogOpen()) {
  <app-product-edit-modal
    [productId]="product().id"
    (close)="isDialogOpen.set(false)"
  />
}
