<app-modal (cancel)="close.emit()" (save)="onSubmit()" header="Add Inventory Transaction">
  <app-inventory-transactions-main (typeChanged)="onTypeChanged($event)" [form]="form">

    <div class="separator"></div>

    @if (form.value.type === 'IN') {
      <app-inventory-in-items (itemAdd)="addItem($event)" (itemRemove)="removeItem($event)" [form]="itemForm"
                              [items]="asInItems()"></app-inventory-in-items>
    } @else {
      <app-inventory-transactions-out-items (itemAdd)="addItem($event)" (itemRemove)="removeItem($event)"
                                            [form]="itemForm"
                                            [items]="asOutItems()"></app-inventory-transactions-out-items>
    }

  </app-inventory-transactions-main>
</app-modal>
