.add-row-wrapper {
  display: flex;
  align-items: stretch;
  gap: 8px;
  margin-bottom: 12px;

  & > * {
    height: 100%;
  }

  .icon-wrapper {
    padding-top: 1.8rem;
  }
}

.total-price {
  padding-top: 0.5rem;
  flex-direction: row;
  justify-content: flex-end;
}
