<div [formGroup]="formGroup" class="card">
  <div class="section-header">
    <h4>Basic Information</h4>

    @if (stock() != null) {
      <div class="stock-label-with-tooltip">
        <strong>Stock: {{ stock() }}</strong>
        <span (mouseenter)="showTip.set(true)" (mouseleave)="showTip.set(false)" class="tooltip-icon">❔</span>
        @if (showTip()) {
          <div class="custom-tooltip">
            Stock is updated automatically when quantity changes through invoices or adjustments.
          </div>
        }
      </div>
    }
  </div>

  <div class="form-grid">
    <div class="form-row">
      <label for="sku">SKU</label>
      <input formControlName="sku" id="sku" type="text"/>
    </div>
    <div class="form-row">
      <label for="price">Price</label>
      <input formControlName="price" id="price" type="number"/>
    </div>
    <div class="form-row">
      <label for="popularity-threshold">Popularity Threshold</label>
      <input formControlName="popularityThreshold" id="popularity-threshold" type="number"/>
    </div>
  </div>
  <div class="form-grid">
    <div class="form-row">
      <label for="isActive">Status</label>
      <select formControlName="isActive" id="isActive">
        <option [ngValue]="true">Active</option>
        <option [ngValue]="false">Inactive</option>
      </select>
    </div>
    <div class="form-row">
      <label for="category">Category</label>
      <select formControlName="categoryId" id="category">
        @for (category of categories(); track category.id) {
          <option [value]="category.id">{{ category.name }}
          </option>
        }
      </select>
    </div>
  </div>
</div>
