.select-wrapper {
  width: 100%;
  min-width: 100px;
  height: 27.5px;

  ng-select {
    width: 100%;
    font-size: 0.875rem;
    border-radius: 6px;
    height: 100%;
    border: 1px solid #e5e7eb;

    ::ng-deep .ng-select {
      height: 100%;
    }

    ::ng-deep .ng-select-container {
      height: 100%;
      box-sizing: border-box;
      min-height: 0 !important;
      border: none;
    }
  }
}
