<div [formGroup]="form()">
  <h3>Add Product</h3>
  <div class="form-grid add-row-wrapper ">
    <div class="form-row flex-2">
      <label class="form-label">Product</label>
      <app-select [items]="products()" [typeahead]="productTypehead$"
                  bindLabel="fullName" formControlName="product"
                  groupBy="category"></app-select>
    </div>
    <div class="form-row flex-1 number-input">
      <label class="form-label">Quantity
        @if (form().controls.product.value) {
          <small class="badge">Stock: {{ form().controls.product.value.stock }}</small>
        }
      </label>
      <input formControlName="quantity" type="number"/>
    </div>
    <div class="form-row flex-1 number-input">
      <label class="form-label">Discount
        @if (form().controls.product.value && form().controls.discountType.value?.toLowerCase() === 'fixed') {
          <small class="badge">Price: {{ form().controls.product.value.price }}</small>
        }
      </label>
      <input formControlName="discount" type="number"/>
    </div>

    <div class="form-row flex-1">
      <label class="form-label">Discount Type</label>
      <app-select [clearable]="false" [items]="['Fixed', 'Percentage']" [searchable]="false"
                  formControlName="discountType"></app-select>
    </div>
  </div>

  <div class="summary">
    <h3>Summary</h3>
    <div class="add-item-wrapper">
      <button
        (click)="onAddItemClick()"
        [disabled]="form().invalid"
        class="add-item-btn"
        type="button"
      > + Add Item
      </button>
    </div>
  </div>
  <div>
    <div class="price-row">
      <div>
        <label class="price-label">Unit Price: </label>
        @if (form().controls.product.value) {
          <span class="price-line">{{ form().controls.price.value }} – {{ form().controls.discountValue.value }}<small
            class="percent">({{ form().controls.discountPercent.value }}%)
            </small> = <b>{{ form().controls.finalPrice.value }}</b>
          </span>
        }
      </div>

      <div>
        <label class="price-label">Total Price: </label>
        @if (form().controls.product.value) {
          <span class="price-line">{{ form().controls.totalPrice.value }}
            – {{ form().controls.totalDiscount.value }}<small
              class="percent">({{ form().controls.discountPercent.value }}%)
            </small> = <b>{{ form().controls.totalFinalPrice.value }}</b>
          </span>
        }
      </div>
    </div>

  </div>

</div>

<div class="grid-wrapper">
  <app-grid
    (actionClick)="onActionClick($event)"
    [actions]="['edit', 'delete']"
    [items]="items()"
    [settings]="settings"
    [total]="items().length"
    emptyText="No products added."
  >
  </app-grid>
  <div class="form-row total-price"><label> Total: {{ total() }}</label></div>
</div>
