<app-modal (cancel)="close.emit()" (save)="onSubmit()" [title]="'Edit Product ' + product()?.sku || ''">
  <form [formGroup]="form" class="form-body">

    <app-product-main [formGroup]="form" [stock]="product()?.stock"></app-product-main>

    <app-product-translation [formArray]="translations"></app-product-translation>

    <app-product-discount [formGroup]="discount"></app-product-discount>

    <app-product-details [formArray]="details"></app-product-details>

    <app-product-images [formArray]="images"></app-product-images>
  </form>
</app-modal>
