<app-modal (cancel)="close.emit()" (save)="onSave()" title="Edit Product">
  <div class="form-group">
    <label>Name ({{ activeLang() }})</label>
    <!--    <input [(ngModel)]="name[activeLang()]"/>-->
    <input [(ngModel)]="name"/>
  </div>

  <div class="form-group">
    <label>Description ({{ activeLang() }})</label>
    <!--    <textarea [(ngModel)]="description[activeLang()]"></textarea>-->
    <textarea [(ngModel)]="description"></textarea>
  </div>

  <!-- Details -->
  <div class="details">
    <h4>Details</h4>
    @for (d of details; let i = $index; track d.key) {
      <div class="detail-item">
        <input [(ngModel)]="d.key" placeholder="Key"/>
        <input [(ngModel)]="d.value" placeholder="Value"/>
        <button (click)="removeDetail(i)">×</button>
      </div>
    }
    <button (click)="addDetail()">Add Detail</button>
  </div>

  <!-- Images -->
  <div class="images">
    <h4>Images (max 3)</h4>
    <div class="image-list">
      @for (img of images; let i = $index; track img) {
        <div class="image-item">
          <img [src]="img" alt="image"/>
          <button (click)="removeImage(i)">×</button>
        </div>
      }
    </div>

    @if (images.length < 3) {
      <div>
        <input [(ngModel)]="newImage" placeholder="Image URL" type="text"/>
        <button (click)="addImage()">Add Image</button>
      </div>
    }
  </div>
</app-modal>
