<div #scrollContainer (scroll)="onScrollChanged()" class="table-scroll-wrapper">
  <table class="grid-table">
    <thead>
    <tr>
      @for (s of settings(); track s.bindProperty) {
        <th class="th1" [ngStyle]="s.styles" [ngClass]="{'cur-pointer': s.sortable}"
            (click)="s.sortable && onSortChange(s.bindProperty)">
          {{ s.label }}
          @if (s.sortable && sortColumn === s.bindProperty && sortDirection()) {
            <span>{{ sortDirection() === 'asc' ? '▲' : '▼' }}</span>
          }
        </th>
      }
      <th class="th1">Actions</th>
    </tr>
      @if (filterable()) {
        <tr [formGroup]="form" class="filters-row">
          @for (s of settings(); track s.bindProperty) {
            <th class="th2" [ngStyle]="s.styles">
              @if (s.filterable) {
                @switch (s.filterType) {
                  @case ('date') {
                    <div class="clear-wrapper">
                      <input [formControlName]="s.bindProperty" [autoApply]="true" ngxDaterangepickerMd type="text"
                             readonly/>

                      @if (form.controls[s.bindProperty].value?.startDate != null) {
                        <button class="clear-btn" (click)="onClearFilter(s.bindProperty)">
                          ×
                        </button>
                      }
                    </div>
                  }
                  @case ('text') {
                    <input [formControlName]="s.bindProperty" type="text"/>
                  }
                  @case ('number') {
                    <input [formControlName]="s.bindProperty" type="number"/>
                  }
                  @case ('select') {
                    <div class="filter-select-wrapper">
                      <select [formControlName]="s.bindProperty">
                        @for (opt of s.filterOptions; track opt.value) {
                          <option [ngValue]="opt.value">{{ opt.label }}</option>
                        }
                      </select>
                      @if (form.controls[s.bindProperty].value != null) {
                        <button class="clear-btn" (click)="onClearFilter(s.bindProperty)">
                          ×
                        </button>
                      }
                    </div>
                  }
                  @case ('groupedSelect') {
                    <div class="filter-select-wrapper">
                      <select [formControlName]="s.bindProperty">
                        @for (group of s.groups; track group) {
                          <optgroup [label]="group">
                            @for (opt of s.filterOptions; track opt.value) {
                              @if (opt.group === group) {
                                <option [ngValue]="opt.value">{{ opt.label }}</option>
                              }
                            }
                          </optgroup>
                        }
                      </select>
                      @if (form.controls[s.bindProperty].value != null) {
                        <button class="clear-btn" (click)="onClearFilter(s.bindProperty)">
                          ×
                        </button>
                      }
                    </div>
                  }
                }
              }
            </th>
          }

          <th class="th2">
            <lucide-icon (click)="onResetFilters()" appTooltip="Reset filters" class="cur-pointer"
                         name="brushCleaning"></lucide-icon>
          </th>
        </tr>
      }
    </thead>
    <tbody>
      @if (items().length > 0) {
        @for (item of items(); track item.id) {
          <tr>
            @for (s of settings(); track s.bindProperty) {
              <td [ngClass]="s.cellClass && s.cellClass(item)" [ngStyle]="s.styles"
                  [appTooltip]="item[s.bindProperty]">{{ s.formatter ? s.formatter(item) : item[s.bindProperty] }}
              </td>
            }
            <td>
              <lucide-icon (click)="actionClick.emit({ action: 'edit', id: item.id })" class="edit"
                           name="edit"></lucide-icon>
            </td>
          </tr>
        }
      } @else {
        <tr>No records found</tr>
      }
    </tbody>
  </table>
</div>
