<div class="login-wrapper">
  <div class="language-switcher-container">
    <app-language-switcher/>
  </div>

  <div class="login-left">
    <div class="logo-wrapper">
      <img alt="Nuvanta Logo" class="logo" src="images/nuvanta-logo1.png"/>
    </div>

    <p class="tagline">{{ 'TAGLINE' | translate }}</p>

    <div class="illustration-wrapper">
      <ul class="benefits">
        <li> {{ 'BENEFITS.TRACKING' | translate }}</li>
        <li> {{ 'BENEFITS.REALTIME' | translate }}</li>
        <li> {{ 'BENEFITS.ACCESS' | translate }}</li>
      </ul>
      <img
        alt="Inventory Illustration"
        class="illustration"
        src="images/illustration-boxes.png"
      />
    </div>
  </div>

  <div class="login-right">
    <h2>{{ 'LOGIN.TITLE' | translate }}</h2>

    <form (submit)="onSubmit()" [formGroup]="form">
      <input [placeholder]="'LOGIN.EMAIL' | translate" formControlName="email" type="email"/>
      <input [placeholder]="'LOGIN.PASSWORD' | translate" formControlName="password" type="password"/>

      @if (error()) {
        <div class="error-message">
          {{ 'LOGIN.ERROR' | translate }}
        </div>
      }

      <div class="form-footer">
        <a href="#">{{ 'LOGIN.FORGOT' | translate }}</a>
      </div>

      <button [disabled]="loading()" type="submit">
        @if (loading()) {
          <span class="spinner"></span> {{ 'LOGIN.SUBMIT' | translate }}
        } @else {
          {{ 'LOGIN.SUBMIT' | translate }}
        }
      </button>

      <div class="form-bottom">
        <span>{{ 'LOGIN.NO_ACCOUNT' | translate }}</span>
        <a href="#">{{ 'LOGIN.CREATE_ACCOUNT' | translate }}</a>
      </div>
    </form>
  </div>
</div>

