<div class="login-wrapper">
  <div class="login-left">
    <div class="logo-wrapper">
      <img alt="Nuvanta Logo" class="logo" src="images/nuvanta-logo1.png"/>
    </div>
    <p class="tagline">Smart inventory. Simple control.</p>
    <div class="illustration-wrapper">
      <ul class="benefits">
        <li>✓ Simple product tracking</li>
        <li>✓ Real-time stock updates</li>
        <li>✓ Role-based access control</li>
      </ul>
      <img alt="Inventory Illustration" class="illustration" src="images/illustration-boxes.png"/>
    </div>
  </div>

  <div class="login-right">
    <h2>Sign in</h2>
    <form (submit)="onSubmit()" [formGroup]="form">
      <input formControlName="email" placeholder="Email" type="email"/>
      <input formControlName="password" placeholder="Password" type="password"/>
      @if (error()) {
        <div class="error-message">
          {{ error() }}
        </div>
      }
      <div class="form-footer">
        <a href="#">Forgot password?</a>
      </div>

      <button [disabled]="loading()" type="submit">
        @if (loading()) {
          <ng-container>
            <span class="spinner"></span> Signing in...
          </ng-container>
        } @else {
          Sign in
        }
      </button>

      <div class="form-bottom">
        <span>Don’t have an account?</span>
        <a href="#">Create one</a>
      </div>
    </form>
  </div>
</div>
