<form [formGroup]="form()">
  <div class="form-grid">
    <div class="form-row w-3">
      <label class="form-label">Date</label>
      <app-datepicker formControlName="operationDate"></app-datepicker>
    </div>

    <div class="form-row w-3">
      <label class="form-label">Type</label>
      <app-select [clearable]="false" [items]="['IN', 'OUT']" [searchable]="false"
                  formControlName="type"></app-select>
    </div>

    <div class="form-row w-3">
      <label class="form-label">Subtype</label>
      <app-select [items]="subtypes()" bindLabel="name" bindValue="id" formControlName="subtype"></app-select>
    </div>
  </div>

  <ng-content></ng-content>

  <div class="form-row note-wrapper">
    <label class="form-label">Note</label>
    <textarea [rows]="7" formControlName="note" placeholder="Leave a note" rows="3"></textarea>
  </div>
</form>
